@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
}
body{
    background-image: linear-gradient(45deg,#ff28db, #ff0077,
    #b700ff,#ff28db, #ff0077,#b700ff,#ff28db, #ff0077,
    #b700ff,#ff28db, #ff0077);
}

body::-webkit-scrollbar{
    width: 8px;
}
body::-webkit-scrollbar-track{
    background-color: rgb(255, 83, 246);
}
body::-webkit-scrollbar-thumb{
    background-image: linear-gradient(-45deg, #36ffff, #ffb62e);
    border-radius: 50px;
}
a{
    text-decoration: none;
}

#header{
    width: 100%;
    /* height: 50px; */
}

.txt{
    width: 100%;
    max-width: 500px;
    margin: 20px 5px;
    height: 65px;
    border-radius: 50px;
    text-align: center;
    color: #ffffff;
    text-shadow:0px 0px 10px rgb(70, 35, 116);
    background-color: rgba(255, 255, 255, 0.418);
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.slider-fade{
    display: block;
    width: 90%;
    /* border: 1px solid #222; */
    border-radius: 20px;
    height: auto;
    padding: 0 10px;
    background-color: #e6e6e66e;
}
img.item{
    height: 500px;
    margin: 20px 10px;
    border-radius: 20px;
    object-fit: cover;
}

.slick-arrow{
    width: 35px;
    height: 35px;
    position: absolute;
    z-index: 2;
    background-color: #ccc;
    border-radius: 50%;
    border: 1px solid #aaaaaa;
    margin: 0 7px;
    transition: all 0.2s linear;
}

.slick-arrow:hover{
    background-color: #333;
}

.nameChar{
    display: block;
    text-align: center;
    margin: 50px auto 10px 15px;
    width: 250px;
    height: 30px;
    border-radius: 50px;
    background-color: #e6e6e66e;
    position: relative;
    color: #fff;
    transition: background-color 0.4s ease ;
}

.nameChar:hover{
    background-color: #ffffff;
}

.nameChar .linkName{
    font-size: 18px;
    transition: color ease 0.4s ;
}

.nameChar .next{
    position: absolute;
    right: 15px;
    font-size: 30px;
    line-height: 30px;
    opacity: 0;
    font-weight: bold;
    transition: opacity ease 0.4s, right ease 0.3s, color ease 0.3s ;
}

.nameChar:hover .linkName{
    color: #000000;
}
.nameChar:hover .next{
    opacity: 1;
    right: 25px;
    color: #1eff00;
}